<div class="container-fluid">

  <div class="row mainp" style= "background-color:#F8F8FF;">
    <div class="col-lg">

      <h3 style= "padding-left: 30px;">Follow us for more updates</h3>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-twitter"></i>
    </div>

    <div class="col-lg">
      <h3>Reach us at</h3>
      <h6>meghasoftech@gmail.com</h6>
        <h6>Tel: +917799162877</h6>
    </div>

  </div>

</div>

<footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright © 2020 MeghaSoftech LLP. All rights reserved.</span>
      </div>
</footer>
</body>
</html>
