<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>MeghaSoftech</title>

    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/index.css">

    <!-- FontAwesome cdn -->
    <script src="https://kit.fontawesome.com/a40bb53430.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <!-- Navigation bar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="https://meghasoftech.net">
    <img src="Images/logo.webp" class="logo" width="30" height="30" alt="">MeghaSoftech
      </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav top-bar">

      <li class="nav-item active">
        <a class="nav-link" href="/">Features <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Sign in</a>
      </li>



      <form class="form-inline my-2 my-lg-0 nav-search">
         <input class="form-control mr-sm-2 navSearch" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
     </form>

    </ul>
  </div>
</nav>
