<%- include("partials/header") -%>

<div class="container-fluid mainp">

<h1>We are recruiting!</h1>

<h6>We are looking for Graphic Designer, App developers, Power Programmers, Ethical hackers</h6>
<br>
<h6>To apply, fill this form</h6> <br>

<form class="form-group" action="index.html" method="post">

  <label for="">Full Name</label>
  <input type="text" class="form-control lab" name="" placeholder="You name" value="">
  <br>
  <label for="">Email</label>
  <input type="email" class="form-control lab" name="" placeholder="Your Email" value="">
  <br>
  <label for="">Phone Number</label>
  <input type="number" class="form-control lab"  name="" placeholder="You Number" value="">
  <br>
  <label for="">Area of Intrest</label>
  <input type="text" class="form-control lab" name="" placeholder="Your Intrest" value="">
  <br>
  <label for="myfile">Upload your CV:</label>
  <input type="file" id="myfile" name="myfile">
  <br>
  <button type="submit" class="btn btn-outline-dark" name="button">Submit</button>

</form>

</div>


<%- include("partials/footer") -%>
