<%- include("partials/header") -%>


<div class="container-fluid">
  <h2 style= "background-color:#f2f2f2; padding:30px;margin-top: 20px;">We are recruiting!</h2>
  <div class="row">

    <div class="col-lg soft trans">
      <h4>Web Services</h4>
      <p>We a team provide Web services to clients with the latest technology with maximum responsiveness</p>
        <br><br><br>
        <a href="/apply">  <button type="button" class="btn btn-outline-success" name="button">Apply now</button></a>
    </div>

    <div class="col-lg soft">
      <h4>Mobile App Services</h4>
      <p>Moblie apps rule the world these days. We a team provide App services to clients with the latest technology with maximum responsiveness</p>
        <br><br>
          <a href="/apply">  <button type="button" class="btn btn-outline-dark" name="button">Apply now</button></a>
    </div>

  </div>

  <div class="row">

    <div class="col-lg soft">
      <h4>Application Services</h4>
      <p>We provide applications that are required by the clients with latest technology</p>
        <br><br><br>
        <a href="/apply">  <button type="button" class="btn btn-outline-dark" name="button">Apply now</button></a>

    </div>

    <div class="col-lg soft trans">
      <h4>Cyber Security Services</h4>
      <p>Utmost security will be provided to all your data with ease</p>
        <br><br><br><br>
          <a href="/apply">  <button type="button" class="btn btn-outline-success" name="button">Apply now</button></a>
    </div>

  </div>

</div>





<%- include("partials/footer") -%>
