<%- include("partials/header") -%>

<!-- Main heading -->
  <div class="container-fliud" style="background-color: #000">
    <div class="row first-div">

      <div class="col-lg" style= "padding-top: 70px;">
        <h1 style= "color:#CCCCCC">Why use MeghaOS?</h1>
        <p class="main-p">MeghaOS is powerful operating system which contains both features of windows and linux you can use apps made for both operating systems in MeghaOS</p>

      <button type="button" class="btn btn-outline-success" name="button">Learn More</button>

      </div>

      <div class="col-lg">
        <img class="main-img" style="width: 100%;" src="Images/home.jpg" alt="Image">
      </div>

    </div>
  </div>



<!-- cards -->

<div class="container-fluid" style="padding: 0">

<div class="container-fluid" style="background-color: #FBFBFF; padding:0">
  <br><br><br>
  <h1 class="main-heading" style="padding-left:150px;">How does it work?</h1>
  <div class="row mainp" style=" padding-bottom: 70px;">
    <div class="col-lg card">
      <h3 class="card-heading">Fast<i style="margin-left: 5px;" class="fas fa-bolt"></i></h3>
      <p class="card-p">One big reason why MeghaOS can boot up faster than other OS is the difference in the way their kernels are designed. Other OS contains a micro kernel which has only the basic necessities and the remaining aspects are loaded separately thus a little bit slower than MeghaOS.</p>
    </div>

    <div class="col-lg card">
      <h3 class="card-heading">Secure<i style="margin-left: 5px;" class="fas fa-lock"></i></h3>
      <p class="card-p">However, there is some malware which can infect your MeghaOS, but then again there is a security feature to save you from this. Every program is it an application, or a virus needs to be authorized by a person with administrator privileges. </p>
    </div>

    <div class="col-lg card">
      <h3 class="card-heading">Easy<i style="margin-left: 5px;" class="fas fa-check"></i></h3>
      <p class="card-p">MeghaOS is very much designed for people who are new to the Linux world, many people coming from both a Windows or a Mac background will find plenty of familiar features along with some new ones that aren’t available in either Windows or Mac.</p>
    </div>

  </div>
</div>

  <!-- Gamer -->
<div class="container-fluid" style="padding:0;">

<div class="" style="text-align: center; background-image: url(Images/gb.jpg)">
  <div style="padding: 100px 400px 100px 400px;">
    <h3>Are you a gamer?</h3>
    <h6>MeghaOS is built on linus which is capable of running windows applications with high performance</h6>
      <br><br><br>
      <h6>You can run Steam and play seamlessly</h6>
        <i class="fab fa-steam"></i>
  </div>
  <br><br><br>
</div>


  </div>

  <div class="container-fluid">
    <h2 style= "background-color:#f2f2f2; padding:30px;margin-top: 20px;">We offer various Software Solutions</h2>
    <div class="row">

      <div class="col-lg soft trans">
        <h4>Web Services</h4>
        <p>We a team provide Web services to clients with the latest technology with maximum responsiveness</p>
          <br><br><br>
          <button type="button" class="btn btn-outline-success" name="button">Know more</button>
      </div>

      <div class="col-lg soft">
        <h4>Mobile App Services</h4>
        <p>Moblie apps rule the world these days. We a team provide App services to clients with the latest technology with maximum responsiveness</p>
          <br><br>
          <button type="button" class="btn btn-outline-dark" name="button">Know more</button>
      </div>

    </div>

    <div class="row">

      <div class="col-lg soft">
        <h4>Application Services</h4>
        <p>We provide applications that are required by the clients with latest technology</p>
          <br><br><br>
          <button type="button" class="btn btn-outline-dark" name="button">Know more</button>
      </div>

      <div class="col-lg soft trans">
        <h4>Cyber Security Services</h4>
        <p>Utmost security will be provided to all your data with ease</p>
          <br><br><br><br>
          <button type="button" class="btn btn-outline-success" name="button">Know more</button>
      </div>

    </div>

  </div>





  <!-- Server -->
  <div class="container-fluid" style="margin-top: 10px;background-image: url(Images/b.jpg); background-size: 100%;">
    <div class="row mainp">

      <div class="col-lg" style="color: #CCCCCC">
          <br><br><br><br><br>
          <h2>In need of a server?</h2>
          <h6>MeghaOS is built on Apache server which allows you to run Web Servers</h6>
          <br>
          <button type="button" class="btn btn-outline-success" name="button">Know more</button>

      </div>



        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>




<!-- Request Form -->

<div class="row soft" style="margin: 25px;">
  <div class="col-md" style= "background-color: #f2f2f2;" margin-right: 25px;"">
    <h1 style="padding-top: 80px;">Request Demo</h1>
    <p style="padding-top: 50px; font-size: 150%;">To schedule a product demo with one of our product consultants, please fill in your contact details</p>
  </div>
  <div class="col-md">
    <h6>Contact us</h6>
    <form class="" action="index.html" method="post">
      <div class="form-group">
        <label for="">Message</label>
        <textarea class="form-control" name="name" rows="8" cols="80" placeholder="Your message"></textarea>
        </div>

        <div class="form-group">
          <label for="">Name</label> <br>
          <input type="text" name="" class="form-control" value=""placeholder="Your name">
        </div>

        <div class="form-group">
          <label for="">Mail-id</label> <br>
          <input type="email" class="form-control" name="" value="" placeholder="E-mail">
        </div>

        <button type="button" class="btn btn-outline-dark">Submit</button>

    </form>
  </div>
</div>





</div>

<%- include("partials/footer") -%>
