<%- include("partials/header") -%>

<!-- Main heading -->
  <div class="container-fliud" style="background-color: #000">
    <div class="row first-div">

      <div class="col-lg">
        <h1 style= "color:#CCCCCC">Why use MeghaOS?</h1>
        <p class="main-p">MeghaOS is operating system which contains both features of windows and linux you can use apps made for both operating systems in MeghaOS</p>

      <button type="button" class="btn btn-outline-success" name="button">Learn More</button>

      </div>

      <div class="col-lg">
        <img class="main-img" src="https://static.wixstatic.com/media/43c038_28a5f869edd243ad83e332d3f2ba8e88~mv2_d_1204_1588_s_2.png/v1/fill/w_968,h_1275,al_c,q_90,usm_0.66_1.00_0.01/43c038_28a5f869edd243ad83e332d3f2ba8e88~mv2_d_1204_1588_s_2.webp" alt="Image">
      </div>

    </div>
  </div>



<!-- cards -->

<div class="container-fluid" style="padding: 0">

<div class="container-fluid" style="background-color: #FBFBFF; padding:0">
  <br><br><br>
  <h1 class="main-heading" style="padding-left:150px;">How does it work?</h1>
  <div class="row mainp">
    <div class="col-lg card">
      <h3 class="card-heading">Fast<i style="margin-left: 5px;" class="fas fa-bolt"></i></h3>
      <p>One big reason why MeghaOS can boot up faster than other OS is the difference in the way their kernels are designed. The nucleus of an OS is very different than other OS. Other OS on the other hand contains a micro kernel which contains only the basic necessities and the remaining aspects are loaded separately thus making it a little bit slower when compared to MeghaOS.</p>
    </div>

    <div class="col-lg card">
      <h3 class="card-heading">Secure<i style="margin-left: 5px;" class="fas fa-lock"></i></h3>
      <p>Viruses are usually developed for the other OS. Most viruses are developed through Active X, which is usually not found in Linux. However, there is some malware which can infect your MeghaOS, but then again there is a security feature to save you from this. Every program is it an application, or a virus needs to be authorized by a person with administrator privileges. </p>
    </div>

    <div class="col-lg card">
      <h3 class="card-heading">Easy<i style="margin-left: 5px;" class="fas fa-check"></i></h3>
      <p>The ethos of MeghaOS is very simple, to look good, work well and most importantly to be simple to use. MeghaOS is very much designed for people who are new to the Linux world, many people coming from both a Windows or a Mac background will find plenty of familiar features along with some new ones that aren’t available in either Windows or Mac.</p>
    </div>

  </div>
</div>


<div class="container-fluid" style="padding:0;">

<div class="" style="background-image: url(Images/gb.jpg)">
  <div style="padding: 100px 400px 100px 400px;">
    <h3 style="text-align: center;">Are you a gamer?</h3>
    <h6 style="text-align: center;">MeghaOS is built on linus which is capable of running windows applications with high performance</h6>

  </div>
  <br><br><br><br><br><br><br><br>
</div>


  </div>


<!-- Request Form -->

<div class="row mainp" style="margin-top: 50px;">
  <div class="col-md">
    <h1 style="padding-top: 80px;">Request Demo</h1>
    <p style="padding-top: 50px; font-size: 150%;">To schedule a product demo with one of our product consultants, please fill in your contact details</p>
  </div>
  <div class="col-md">
    <h6>Contact us</h6>
    <form class="" action="index.html" method="post">
      <div class="form-group">
        <label for="">Message</label>
        <textarea class="form-control" name="name" rows="8" cols="80" placeholder="Your message"></textarea>
        </div>

        <div class="form-group">
          <label for="">Name</label> <br>
          <input type="text" name="" class="form-control" value=""placeholder="Your name">
        </div>

        <div class="form-group">
          <label for="">Mail-id</label> <br>
          <input type="email" class="form-control" name="" value="" placeholder="E-mail">
        </div>

        <button type="button" class="btn btn-outline-dark">Submit</button>

    </form>
  </div>
</div>


<!-- Favicons -->
<div class="mainp">
  <h3>Follow us for more updates</h3>
  <i class="fab fa-facebook"></i>
  <i class="fab fa-instagram"></i>
  <i class="fab fa-linkedin"></i>
  <i class="fab fa-twitter"></i>
</div>

</div>

<%- include("partials/footer") -%>
