<%- include("partials/header") -%>

<div class="container-fluid">

<div class="os-hacking row" style="background-color: #000;">
    <div  style="color: #CCCCCC;" class="col-lg mainp">
      <h1>Hacking OS</h1> <br>
      <h5>We provide OS with hacking tools that make the user benefitial</h5> <br>
      <h6>Price: 10$</h6>
      <button type="button" class="btn btn-outline-success" name="button">Buy now</button>
    </div>
    <div class="col-lg">
      <img src="Images/hacking.jpg" alt="">
    </div>
</div>

<div class="os-normal row" style="background-color: #f2f2f2;">
    <div class="col-lg">

    </div>
    <div  style="color: #000;" class="col-lg mainp">
      <h1>User Interfaced OS</h1> <br>
      <h5>It is an OS with a cool GUI that makes the normal users benefitial</h5> <br>
      <h6>Price: 10$</h6>
      <button type="button" class="btn btn-outline-success" name="button">Buy now</button>
    </div>

</div>

<div class="os-iot row" style="background-color: #000;">
    <div  style="color: #CCCCCC;" class="col-lg mainp">
      <br>
      <h1>IoT OS</h1> <br>
      <h5>It is an OS which has all the modules that a user needs while working on IoT</h5> <br>
      <h6>Price: 10$</h6>
      <button type="button" class="btn btn-outline-success" name="button">Buy now</button>
    </div>
    <div class="col-lg">
      <img src="Images/iot1.jpg" alt=""style="width:160%; padding-right: 50px;">
    </div>
</div>

<div class="os-server row" style="background-color: #fff;">
    <div class="col-lg" style= "text-align: center;">
        <img src="Images/server.jpg" alt="">
    </div>
    <div  style="color: #000;" class="col-lg mainp">
      <h1>Server OS</h1> <br>
      <h5>It is an OS with server capabilities with which the user can adopt databases with highend security</h5> <br>
      <h6>Price: 10$</h6>
      <button type="button" class="btn btn-outline-success" name="button">Buy now</button>
    </div>

</div>

</div>
