<%- include("partials/header") -%>

<div class="container-fluid">

<div class="os-hacking row" style="background-color: #000; padding: 40px 0 40px 0;">
    <div style="color: #CCCCCC; padding:20px 70px 50px 150px;" class="col-lg mainp">
      <h1>MeghaOS FOR CYBERSECURITY</h1> <br>
      <h5>MeghaOS is purely customized for Forensic experts, Cybersecurity researchers, and Pentesters, etc. It comes with many advanced tools used to identify cyber-attacks and many packages needed for Pentesters also included in this OS</h5> <br>
      <h6>Price: 10$</h6>
      <button type="button" class="btn btn-outline-success" name="button">Buy now</button>
    </div>
    <div class="col-lg">
      <img src="Images/hacking.jpg" alt="">
    </div>
</div>

<div class="os-normal row" style="background-color: #f2f2f2;padding: 50px 0 50px 0;">
    <div class="col-lg">
      <img src="Images/main-logo.png" style="width: 70%; margin-left: 90px;" alt="">
    </div>
    <div  style="color: #000; padding-top:50px;" class="col-lg mainpa">
      <h1>MeghaOS FOR HOME</h1> <br>
      <h5>MeghaOS is very much designed for daily use.MeghaOS is very simple and comes with all the necessary applications and Softwares that people use daily. You can also run Softwares that are made for Windows in this OS which makes this operating more efficient than all other operating systems</h5> <br>
        <h6>Price: 10$</h6>
      <button type="button" class="btn btn-outline-success" name="button">Buy now</button>
    </div>

</div>

<div class="os-iot row" style="background-color: #000; padding:70px 0 70px 0">
    <div  style="color: #CCCCCC; " class="col-lg mainp">
      <br>
      <h1>MeghaOS FOR IOT</h1> <br>
      <h5>MeghaOS for IoT is an Operating System specifically designed to work within the constraints that are particular to IoT devices which are typically limited in memory size, processing power, capacity, and built to enable swift data transfer over the Internet.</h5> <br>
      <h6>Price: 10$</h6>
      <button type="button" class="btn btn-outline-success" name="button">Buy now</button>
    </div>
    <div class="col-lg">
      <img src="Images/iot1.jpg" alt=""style="width:160%; padding-right: 50px;">
    </div>
</div>

<div class="os-server row" style="background-color: #fff;">
    <div class="col-lg">
        <img src="Images/server.jpg" style="margin-left:180px; margin-top:50px;" alt="">
    </div>
    <div  style="color: #000;" class="col-lg mainp">
      <h1>MeghaOS FOR SERVER</h1> <br>
      <h5>MeghaOS comes with a combination of the world's most deployed web server (Apache Web Server), Node and the top servlet engine (Apache Tomcat), Mysql server, etc. All these make your server to give high performance even with low hardware configuration with highend security</h5> <br>
        <h6>Price: 10$</h6>
      <button type="button" class="btn btn-outline-success" name="button">Buy now</button>
    </div>

</div>

</div>
<%- include("partials/footer") -%>
