<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MeghaSoftech</title>
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/signin.css">
  </head>
  <body>


    <h5>MeghaSoftech LLP</h5>

  <div class="main-div">

    <form class="form-group" action="/signin" method="post">
      <label for="">Email</label>
      <input class="form-control" type="email" name="username" value="">
      <br>
      <label for="">Password</label>
      <input class="form-control" type="password" name="password" value="">
      <br>
      <button type="submit" class="btn btn-outline-success" name="button">Login</button>

    </form>

  </div>

  </body>
</html>
