<%- include("partials/header") -%>
    <h1 style="padding:100px;">Successful login</h1>

    <a style="margin:0 0 100px 400px;" class="btn btn-primary" role="button" href="/logout">Logout</a>



    </form>

<%- include("partials/footer") -%>
