body{
  background-color: #000;
  color: #f2f2f2;
  border-color:  #f2f2f2;
  font-family: 'Rubik', sans-serif;
}

h5{
  padding: 40px 0 0 40px;
}

.form-control{
  width:40%;
  border-color: #fff;
  background-color:  #000;
}

.main-div{
padding: 150px 300px 100px 500px;

}
